body{
    text-align: center;
    background-image: url(blackjack.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: monospace;
    padding-top: 40px;
}

html, body {
    height: 100%;
    overflow: hidden;
}

p {
    color: white;
    font-size: 18px;
}

h1 {
    font-size: 35px;
    color: rgb(255, 255, 0);
    margin-bottom: 30px;
}

button {
    background-color: rgb(219, 204, 204);
    padding: 10px 8px;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    width: 130px;
    margin-bottom: 7px;
}

.btn-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#sum-el {
    margin-bottom: 35px;
}